nav {
    width: 500px;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    font-size: large;

}

nav ul li a:hover {
    color: #ff0000;
}